###############################################################################
#                                                                             #
#                  This file contains EGN2 options                            #
#                                                                             #
#                                                                             #
#    -Edit these values to modify their usage in EGN2                         #
#                                                                             #
###############################################################################
#Expectation value limit [Real]
evalueLimit 1e-05
#Number of processors to use [Integer]
nCpu 10
#Percentage of indentity threshold [Real]
#Value [0% -> 100%]
pidentLimit 30
#Minimum coverage [Integer]
#minimal length covered by the matching parts with respect to the total length for a sequence
#Value [0% -> 100%]
minCov 80
#Mutual coverage: both sequences should have a minimum coverage 
#Value [0: NO | 1: YES]
mutual 1
#Verbose
#Value [0: NO | 1: YES]
verbose 1
#END
