#############################################################################################
#                                                                                           #
#        This file contains EGN2 options                                                    #
#                                                                                           #
#                                                                                           #
#    -Please verify that your PATH is properly configured for BLAST                         #
#    -Edit these values to modify their usage in EGN2                                       #
#    -You can add new options for BLAST without affecting EGN2                              #
#                                                                                           #
#############################################################################################
#####################################
#        BLAST (<=2.25) options     #
#####################################
#Expectation value limit [Real]
evalueLimit 1e-05
#Number of processors to use [Integer]
nCpu 10
#Percentage of indentity threshold [Real]
pidentLimit 30
#Minimum coverage
minCov 80
#Mutual coverage
mutual 1
#Verbose
verbose 1
#END
